<!-- The drawer is always open in large screens. The header is always shown, even in small screens. -->
<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <!--Action Bar Header-->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <!-- save -->
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" 
      [hidden]="!_serviceToolbar.btnSaveVisible" (click)="_serviceToolbar.btnActions.onClickMenuBtn('ButtonSave')">
         <span>Save</span>
         <i class="material-icons">save</i>
      </button>
      <!-- Add -->
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" 
      [hidden]="!_serviceToolbar.btnAddVisible" (click)="_serviceToolbar.btnActions.onClickMenuBtn('ButtonAdd')">
         <span>Add</span>
         <i class="material-icons">add</i>
      </button>
      <!-- search
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
              <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
        </div>
      </div> -->
    </div>
  </header>
  <!--Drawer-->
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" [routerLink]="['Home']" href="">Home</a>
      <a class="mdl-navigation__link" [routerLink]="['ManageUser']" href="">Hector Olan</a>
      <a class="mdl-navigation__link" [routerLink]="['ManagePlace']" href="">El Restaurante</a>
      <a class="mdl-navigation__link" href="">Add Place</a>
    </nav>
  </div>
  <!--Application Content-->
  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>