<div *ngIf="control.errors" [hidden]="control.valid">
    <div *ngIf="control.errors.required" [hidden]="!control.errors.required" class="alert-danger">
        Required
    </div>
    <div *ngIf="control.errors.minlength" [hidden]="!control.errors.minlength" class="alert-danger">
        At least {{control.errors.minlength.requiredLength}}
    </div>
    <div *ngIf="control.errors.maxlength" [hidden]="!control.errors.maxlength" class="alert-danger">
        Max {{control.errors.maxlength.requiredLength}} characters
    </div>
</div>