.home-detail {
    padding-top: 1rem;
}
.place-name {
    font-size: 1.6rem;   
}
.place-image {
    padding: 0;
    padding: 1rem 0;
}
@media (min-width: 768px){
    .home-detail {
        padding-top: 3rem;
    }
    .place-image {
        max-width: 10rem;
    }    
}