<h3>Open Hours</h3>
<fieldset class="form-group">
    <small class="text-muted text-header">Sunday</small>
    <div class="input-group input-group-sm col-xs-12 col-sm-4">
        <span class="input-group-addon">From</span>
        <input type="time" class="form-control">
    </div>
    <div class="col-xs-0 col-sm-1"></div>
    <div class="input-group input-group-sm col-xs-12 col-sm-4">
        <span class="input-group-addon">To</span>
        <input type="time" class="form-control">
    </div>
</fieldset>
<fieldset class="form-group">
    <small class="text-muted text-header">Monday</small>
    <div class="input-group input-group-sm col-xs-12 col-sm-4">
        <span class="input-group-addon">From</span>
        <input type="time" class="form-control">
    </div>
    <div class="col-xs-0 col-sm-1"></div>
    <div class="input-group input-group-sm col-xs-12 col-sm-4">
        <span class="input-group-addon">To</span>
        <input type="time" class="form-control">
    </div>
</fieldset>
<fieldset class="form-group">
    <small class="text-muted text-header">Tuesday</small>
    <div class="input-group input-group-sm col-xs-12 col-sm-4">
        <span class="input-group-addon">From</span>
        <input type="time" class="form-control">
    </div>
    <div class="col-xs-0 col-sm-1"></div>
    <div class="input-group input-group-sm col-xs-12 col-sm-4">
        <span class="input-group-addon">To</span>
        <input type="time" class="form-control">
    </div>
</fieldset>
<fieldset class="form-group">
    <small class="text-muted text-header">Thursday</small>
    <div class="input-group input-group-sm col-xs-12 col-sm-4">
        <span class="input-group-addon">From</span>
        <input type="time" class="form-control">
    </div>
    <div class="col-xs-0 col-sm-1"></div>
    <div class="input-group input-group-sm col-xs-12 col-sm-4">
        <span class="input-group-addon">To</span>
        <input type="time" class="form-control">
    </div>
</fieldset>
<fieldset class="form-group">
    <small class="text-muted text-header">Friday</small>
    <div class="input-group input-group-sm col-xs-12 col-sm-4">
        <span class="input-group-addon">From</span>
        <input type="time" class="form-control">
    </div>
    <div class="col-xs-0 col-sm-1"></div>
    <div class="input-group input-group-sm col-xs-12 col-sm-4">
        <span class="input-group-addon">To</span>
        <input type="time" class="form-control">
    </div>
</fieldset>
<fieldset class="form-group">
    <small class="text-muted text-header">Saturday</small>
    <div class="input-group input-group-sm col-xs-12 col-sm-4">
        <span class="input-group-addon">From</span>
        <input type="time" class="form-control">
    </div>
    <div class="col-xs-0 col-sm-1"></div>
    <div class="input-group input-group-sm col-xs-12 col-sm-4">
        <span class="input-group-addon">To</span>
        <input type="time" class="form-control">
    </div>
</fieldset>