<h3>Place Information</h3>
<fieldset class="form-group">
    <small class="text-muted">Place Name</small>
    <input type="email" class="form-control" id="place-name" placeholder="Place Name">
</fieldset>
<fieldset class="form-group">
    <small class="text-muted">Address</small>
    <input type="text" class="form-control" id="place-address" placeholder="Address">
</fieldset>
<fieldset class="form-group">
    <small class="text-muted">Phone Number</small>
    <input type="tel" class="form-control" id="place-telephone" placeholder="Phone Number">
</fieldset>
<fieldset class="form-group col-xs-12 col-sm-5 category-type">
        <small class="text-muted ">Category</small>
        <select class="form-control c-select" id="place-category ">
            <option>- Select -</option>
            <option>Mexican</option>
            <option>Puerto Rican</option>
            <option>American</option>
            <option>Italian</option>
            <option>Chinise</option>
            <option>Perubian</option>
            <option>Other</option>
        </select>
</fieldset>
    <div class="col-xs-0 col-sm-1 "></div>
<fieldset class="form-group col-xs-12 col-sm-5 category-type">
    <small class="text-muted">Type</small>
    <select class="form-control c-select" id="place-type">
            <option>- Select -</option>
            <option>Restaurant</option>
            <option>Bar</option>
            <option>Food Truck</option>
            <option>Lounge</option>
            <option>Other</option>
        </select>
</fieldset>
<controller-setschedule></controller-setschedule>