<div class="container-fluid place-schedule" *ngIf="schedule">
    <div class="row">
        <div class="col-xs-12">
            {{days[0]}} {{schedule.sundayOpen}}-{{schedule.sundayClose}}</div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{days[1]}} {{schedule.mondayOpen}}-{{schedule.mondayClose}}</div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{days[2]}} {{schedule.tuesdayOpen}}-{{schedule.tuesdayClose}}</div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{days[3]}} {{schedule.wednesdayOpen}}-{{schedule.wednesdayClose}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{days[4]}} {{schedule.thursdayOpen}}-{{schedule.thursdayClose}}</div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{days[5]}} {{schedule.fridayOpen}}-{{schedule.fridayClose}}</div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{days[6]}} {{schedule.saturdayOpen}}-{{schedule.saturdayClose}}</div>
    </div>
</div>