<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12"><span class="place-name">{{place.name}}</span></div>
            <div class="col-xs-12"><span class="place-category">{{place.category}} </span> <span class="place-type">{{place.type}}</span></div>
            <div class="col-xs-12"><span class="place-city">{{place.city}}</span></div>
            <div class="col-xs-12"><span class="place-phoneNumber">{{place.phoneNumber}}</span></div>
        </div>
        <br>
        <div class="row container-schedule">
            <div class="container-fluid place-hours">{{info[0]}}</div>
            <controller-placeschedule></controller-placeschedule>
        </div>
    </div>
</div>