<div class="container-fluid place-header">
    <div class="row place-main-detail">
        <div class="col-xs-12 col-md-4 col-md-offset-2">
            <!-- Place Detail/Schedule -->
            <controller-placedetail [place]="place"></controller-placedetail>
        </div>
        <div class="col-xs-12 col-md-4 place-main-image">
            <img class="img-fluid" src="/app/resources/tempPlaceImage.jpg" alt="Place name">
        </div>
    </div>
</div>
<!-- Place Menu -->
<div class="containter-fluid">
    <controller-placemenu></controller-placemenu>
</div>