<div class="container-fluid mt1">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="card text-xs-left">
                <div class="card-header">Menu</div>
                <div class="card-block">
                    <div class="place-container">
                        <label href="#" (click)="gotoPlace()" class="btn btn-primary-outline">
                            Place
                        </label>
                    </div>
                </div>
                <div class="card-footer text-muted"></div>
            </div>
        </div>
    </div>
</div>